.mobile-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.mobile-prefix {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border: 1px solid #d1d5dc;
    border-radius: 16px;
    padding: 0 2px;
    
    font-size: 14px;
    background: white;
}

.mobile-input {
    flex: 1;

    height: 40px;

    border: 1px solid #d1d5dc;
    border-radius: 24px;

    padding: 0 8px;

    font-size: 14px;

    box-sizing: border-box;
    width: 60%;
}

.mobile-prefix:focus,
.mobile-input:focus {
    outline: none;
    border-color: #0078d4;
    box-shadow: 0 0 0 1px #0078d4;
}
.mobile-input::placeholder {
    color: #8a8886;
    opacity: 1;
}
.mobile-prefix:disabled,
.mobile-input:disabled {
    background-color: #f3f2f1;
    color: #605e5c;
    cursor: not-allowed;
    opacity: 0.8;
}